
a > img {
  width: 100% ;
  height: 250px;
  //prufa 
}

.card {
  flex-direction: column;
  display: flex;
//spurja kolla út í uppsetninguna

  &__poster {
    object-fit: contain;
    display:flex;
    //meikar aðeins meiri sens
  }
}
