// Sækja config
@import './config';

// Hér skal nota scss @for til að ítra út klösum fyrir grid
.grid {
  margin: 0 auto;
  max-width: $max-width;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.col {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

@for $i from 1 through $columns {
  .col-#{$i} {
    width: ($i/$columns * 100%);
  }
  .offset-col-#{$i} {
    margin-left: ($i/$columns * 100%);
  }
}

/*
medium—upp að 800px
*/

@media (max-width: 799px) {
  @for $i from 1 through $columns {
    .col-md-#{$i} {
      width: ($i/$columns * 100 * 1%);
    }
    .offset-col-md-#{$i} {
      margin-left: ($i/$columns * 100 * 1%);
    }
  }
}

/*
small—upp að 500px
*/
@media (max-width: 499px) {
  @for $i from 1 through $columns {
    .col-sm-#{$i} {
      width: ($i/$columns * 100 * 1%);
    }
    .offset-col-sm-#{$i} {
      margin-left: ($i/$columns * 100 * 1%);
    }
  }
}
